.nav-wrapper {
    padding: 0 50px;
}

.price {
    font-size: 24px;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 50px;
}

.course img {
    max-width: 600px;
    height: auto;
}

.course .price.big {
    font-size: 30px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

